.inventory_popup {
    width: 30%;
    height: 45vh;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    top: 51vh;
    bottom: 0;
    position: absolute;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.inventoryANDbtn {
    display: flex;
    align-items: top;
    height: 40px;
    justify-content: space-between;
}

.closeBtn {
    height: 20px;
    background-color: brown;
    margin-top: 13px;
    margin-right: 5%;
    cursor: pointer;
}

.inventory_title {
    margin-left: 20px;
    height: 40px;
}

.inventory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    margin: 10px;
}

.budget{
    height: 40px;
    margin-top: 10px;
    display: flex;
}
