.itemDescriptionPopup {
    width: 24%;
    height: 45%;
    background: rgba(0, 0, 0, 0.5);
    top: 51%;
    left: 36%;
    bottom: 0;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
   
}

.itemDescription{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: 10px 20px;
    color: white;
}

.name, .description, .price, .stats {
    font-size: 20px;
    margin-left: 25px;
}

.price{
    display: flex;
}
