.field{
    height: 70%;
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.head{
    position: absolute;
    top: 15%;
    left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: calc(10px + 2vmin);
    color: white;
}

.leftCells, .rightCells{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px;
}

.profile{
    position: absolute;
    left: 1070px;
    bottom: 600px;
}
