.field{
    background-color: #a899ca;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.head{
    background-color: #a899ca;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: calc(10px + 2vmin);
    color: white;
}

.leftCells, .rightCells{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px;
}

.profile{
    right: 10px;
    top: 50px;
}
